        <!-- Right Section -->
        <div class="right-section">
          <div class="nav">
              <button id="menu-btn" (click)="toggleMenu.emit()">
                  <span class="material-icons-sharp">
                      menu
                  </span>
              </button>
              <div class="dark-mode">
                  <span class="material-icons-sharp active" (click)="toggleDark()" onkeypress="">
                      light_mode
                  </span>
                  <span class="material-icons-sharp" (click)="toggleDark()" onkeypress="">
                      dark_mode
                  </span>
              </div>

              <div class="profile">
                  <div class="info">
                      <p>Hey, <b>{{ currentUser()?.username }}</b></p>
                      <small class="text-muted">Player</small>
                  </div>
                  <div class="profile-photo">
                    <img src="assets/img/user.png" alt="profile">
                  </div>
              </div>

          </div>
          <!-- End of Nav -->
